[Unit]
Description=asalloc visualizer HTTP server
After=network.target

[Service]
Type=forking
PIDFile=%h/.local/asalloc/visualizer/.serve.pid
Environment=ASALLOC_CONFIG=%h/.local/asalloc/config.ini
Environment=PATH=%h/.local/bin:/usr/local/bin:/usr/bin:/bin
WorkingDirectory=%h/.local/asalloc
ExecStart=%h/.local/bin/asalloc serve
Restart=on-failure

[Install]
WantedBy=default.target
